
<div ng-controller="exchangeController">

    <div class="estpanel">
        <h3>Available Balance</h3>
        <ul>
            <li class="title">
                <span class="name">COIN</span>
                <span class="amount">BALANCE</span>
            </li>
            <li class="item">
                <span class="name">DGB</span>
                <span class="amount">12222002.33</span>
            </li>
            <li class="item">
                <span class="name">PAY</span>
                <span class="amount">102.33</span>
            </li>
            <li class="item">
                <span class="name">LTC</span>
                <span class="amount">1222002.33</span>
            </li>
            <li class="item">
                <span class="name">BTC</span>
                <span class="amount">2.33</span>
            </li>
            <li class="box">
                <span>Total: 19.2 BTC</span>
            </li>
        </ul>
    </div>
    <div class="pricepanel">
        <h3>BTC Markets</h3>
        <ul>
            <li class="title">
                <span class="name">COIN</span>
                <span class="price">PRICE</span>
                <span class="change">CHANGE</span>
            </li>
            <li class="item" ng-repeat="(name, coin) in coins" ng-click="redirect(name)">
                <span class="name">{{name}}</span>
                <span class="price">{{coin.lastprice}}</span>
                <span class="change up">{{coin.change}}</span>
            </li>
            <li class="box">
                <span class="">Total: 212.3 BTC</span>
                
            </li>
        </ul>
    </div>
    <div class="traderpanel">
        <h2>NMC/BTC</h2>
        <h3>NameCoin/BitCoin</h3>

        <div class="states">
            <div class="state">
                <span class="name">Last Price:</span>
                <span class="number">0.00000004</span>
            </div>
            <div class="state">
                <span class="name">24 Hour High:</span>
                <span class="number">0.00000010</span>
            </div>
            <div class="state">
                <span class="name">24 Hour Low:</span>
                <span class="number">0.00000001</span>
            </div>
            <div class="state">
                <span class="name">Trade Volume:</span>
                <span class="number">0.1 BTC</span>
            </div>
        </div>

        <div class="kline">
            
        </div>

        <div class="trade">
            <ng-include src="'/templates/fragments/orders.html'"></ng-include>
            <ng-include src="'/templates/fragments/markethistory.html'"></ng-include>
            <ng-include src="'/templates/fragments/myhistory.html'"></ng-include>
        </div>
    </div>

</div>

















