
<style>
    
    .signup{
    
        position: absolute;
        width: 400px;
        height: 300px;
        border: 1px solid #ccc;
        top:50%;
        left: 50%;
        margin-left: -200px;
        margin-top: -150px;
        box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0,0,0,0.15);
    }

</style>

<div class="signup">
    
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="btn">Submit</div>
            </td>
        </tr>
    </table>
    
    
</div>


